/* .about-box{
    width: 1440px;
height: 467px;
flex-shrink: 0;

  } */


/* Apply styles to the container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1440px;
  height: 467px;
  background: linear-gradient(
    90deg,
    rgba(30, 42, 93, 0.04) 0%,
    rgba(48, 62, 130, 0.04) 55.51%,
    rgba(60, 80, 157, 0.04) 100%
  );
  margin-top: 186px;
}

/* Apply styles to the left box (image) */
.left-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Apply styles to the image */
.image {
  max-width: 100%;
  height: auto;
}

/* Apply styles to the right box */
.right-box {
  flex: 1;
  padding: 20px;
  align-items: left;
  justify-content: left;
  display: flex;
  width: 27.9375rem;
  height: 15.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3125rem;
  flex-shrink: 0;
}
.box-1 {
  display: flex;
  width: 27.9375rem;
  height: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.713rem;
  flex-shrink: 0;
}
.box-1 h2 {
  width: 26.375rem;
  margin: 0px;
  height: 1.625rem;
  color: var(--primary, #0e2368);
  /* font-family: Poppins; */
  font-size: 2.8125rem;
  font-style: normal;
  align-items: left;
  text-align: left;
  font-weight: bold;

  line-height: 1.6875rem; /* 60% */
}
.box-1 p {
  color: var(--body, #444957);
  /* font-family: Open Sans; */
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem;
  text-align: left;
  margin: 0px;
}

.box-2 {
  display: flex;
  width: 8.25rem;
  height: 2.625rem;
  padding: 0.1875rem 1.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  background: #e23744;
  border: none;
  color: #fff;
  /* font-family: Source Sans Pro; */

  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.03rem;
}

/* Apply mobile styles */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 23.4375rem;
height: 32.25rem;
margin-top: 0rem;


  }

  .left-box {
    display: none;
  }

  .right-box {
    display: flex;
   
    width: 23.4375rem;
height: 32.25rem;


  }
  .box-1{
    flex:1;
    width: 23.4375rem;
height: 32.25rem;
flex-shrink: 0;
  }
  .box-1 h2{

    width: 23.4375rem;
color: var(--primary, #0E2368);
text-align: center;
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 600;
line-height: 2.1875rem; 

margin-top: 8.75rem;
  }
.box-1 p{
  width: 17.1875rem;
height: 8.625rem;

color: var(--body, #444957);
text-align: center;

font-size: 0.6875rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 190.909% */
margin-left:3.13em; ;
}
.box-2{
  display: flex;
  width: 6rem;
  height: 1.5625rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
  flex-shrink: 0;
  border-radius: 1.6875rem;
background: #E23744;
color: #FFF;

font-size: 0.6875rem;
font-style: normal;
font-weight: 400;
margin-left: 8.69rem;
margin-top: 1rem;

}
}

/* @media (min-width: 375px) and (max-width: 768x) {

    
} */
