/* .about-box{
    width: 1440px;
height: 467px;
flex-shrink: 0;

  } */
.about-box{
    width: 1440px;
    height: 467px;
   
}

/* Apply styles to the container */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1440px;
    height: 467px;
    background: linear-gradient(90deg, rgba(30, 42, 93, 0.04) 0%, rgba(48, 62, 130, 0.04) 55.51%, rgba(60, 80, 157, 0.04) 100%);
margin-top: 186px;
  }
  
  /* Apply styles to the left box (image) */
  .left-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Apply styles to the image */
  .image {
    max-width: 100%;
    height: auto;
  }
  
  /* Apply styles to the right box */
  .right-box {
    flex: 1;
    padding: 20px;
  }

 
  
  /* Apply mobile styles */
  /* @media (min-width: 375px) and (max-width: 768x) {
    .container {
      flex-direction: column;
    }
  
    .left-box {
      display: none;
    }
  
    .right-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
   */

/* @media (min-width: 375px) and (max-width: 768x) {

    
} */